.robi-logo{
	float: right !important;
    padding-right: 0pxpx;
    padding-top: 0px;
    position: relative;
    top: 40px;
	z-index:100;
}
.login-form{
padding-top:150px;
}
@media all and (max-width:992px){
.robi-logo{
    top: 50px;
}
}

/* 
    Created on : Aug 4, 2017, 2:38:04 PM
    Author     : Rakibul Hassan
*/

#loginForm {
    width: 100%;
    max-width: 400px;
    margin:  0 auto;
}

#topHeader {
    background: #fff;
    padding-top: 60px;
    min-height: 40px;
}

